.navbar-nav {
    justify-content: space-around !important;
  }
  
  /* style.css */
  
  .navbar.navbar-expand-lg.bg-body-tertiary {
    background-color: beige !important;
  }
  
  h1 {
    color: red;
  }
  
  .card {
    margin-bottom: 20px;
    transition: all 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card img {
    transition: transform 0.3s ease;
  }
  
  .card:hover img {
    transform: scale(1.1);
  }
  .card-title {
    font-size: 1.5rem; /* Adjust font size as needed */
    font-weight: bold;
  }
  .btn-beige {
    background-color: beige;
    color: #333; /* Change button text color if needed */
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  