.order-container {
    padding: 20px;
  }
  
  .form-field {
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  /* styles.css */
.beige-button {
  background-color: beige;
  color: black; /* You can adjust the text color as needed */
  /* You may want to add additional styles like border-radius, padding, etc. */
}
