.navbar {
    background-color: beige; /* Set background color to beige */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .brand {
    color: black; /* Set text color to white */
    font-size: 20px;
  }
  
  .nav-links {
    list-style-type: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 15px;
  }
  
  .nav-links li a {
    color: black; /* Set text color to white */
    text-decoration: none;
  }
  
  /* Hover effect */
  .nav-links li a:hover {
    text-decoration: underline;
  }
  